*.o
*.a
*.obj
*.exe
*.dll
*.so
*.lib
*.la
*.lo
*~
*.orig
*.gch
.ycm_extra_conf.py
*.pyc
tags
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h.in
configure
.deps/
.libs/
Makefile
/config.h
config.log
config.status
libtool
stamp-h1
*.tar.*
*.pyc
docs/
build/
*.doxytag
.idea/workspace.xml
.idea/tasks.xml
.idea/misc.xml
.idea/modules.xml
*.iws
*.iml

cmake-build-*
